.cover__link {
	display: block;
    width: 100%;
    max-width: 1184px;
    height: 740px;
    margin: 92px auto 0 auto;
    background-image: url(../../../image/cover-trains.jpg);
    text-decoration: none;
    background-size: cover;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
.cover__link {
    height: 640px;
	}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
.cover__link {
    height: 480px;
	}
}

@media screen and (max-width: 767px) and (min-width: 550px) {
.cover__link {
    height: 420px;
	}
}

@media screen and (max-width: 549px) and (min-width: 400px) {
.cover__link {
    height: 360px;
	}
}


@media screen and (max-width: 399px) and (min-width: 320px) {
.cover__link {
    height: 200px;
    margin-top: 64px;
	}
}