@import url(./_type/header__lang_type_active.css);

.header__lang {
	font-size: 24px;
	line-height: 28px;
	text-decoration: none;
	font-family: 'Inter', sans-serif;
	font-weight: normal;
	color: #fff;
	transition: .3s;

}

.header__lang:hover{
	opacity: .3;

}

.header__lang:last-child {
	margin-left: 18px;
}

@media screen and (max-width: 470px) {
	.header__lang{
		font-size: 18px;
		line-height: 24px;
	}
}