@import url(./__lang/header__lang.css);
@import url(./__logo/header__logo.css);

.header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	margin: 28px auto 0 auto;
	width: 1184px;
 }


 @media screen and (max-width: 1280px){
	.header{
		width: 92.5%;
	}
}

@media screen and (max-width: 768px){
	.header{
		width: 93.7%;
	}
}


@media screen and (max-width: 470px){
	.header{
		width: 90%;
		margin: 16px auto 0 auto;
	}
}