.place-card__title {
font-size: 72px;
line-height: 76px;
color: #fff;
font-family: 'Inter', Arial, sans-serif;
font-weight: 900;
margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.place-card__title{
		font-size: 32px;
		line-height: 35px;
		margin-left: 16px;
		margin-bottom: 32px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px){
	.place-card__title{
		font-size: 42px;
	}
}