@import url(./__list/text__list.css);
@import url(./__subtitle/text__subtitle.css);
@import url(./__title/text__title.css);
@import url(./__list-bold/text__list-bold.css);


.text {
	max-width: 800px;
	margin: 0 auto;
}


@media screen and (min-width: 1280px){
	.text {
    max-width: 985px
}
}


@media screen and (max-width: 1279px) and (min-width: 769px){
	.text {
    max-width: 928px
}

}

